<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
</head>
<body>
    <h1 style="background-color: {{ color1 }}; color: {{ color2 }};"">*** Checkerboard ***</h1>
    <div class="board">
        <!-- creates rows. x = row -->
        {% for x in range(0, rows) %}
            <div class="row-container">
                <!-- creates columns with checkers. y = column -->
                {% for y in range(0, columns) %}
                    <!-- if row is even -->
                    {% if x % 2 == 0 %}
                        <!-- if column is even -->
                        {% if y % 2 == 0 %}
                            <div class="checker"style="background-color: {{ color1 }};"></div>
                        <!-- if column is odd -->
                        {% else %}
                            <div class="checker"style="background-color: {{ color2 }};"></div>
                        {% endif %}
                    <!-- if row is odd -->
                    {% else %}
                        <!-- if column is even -->
                        {% if y % 2 == 0 %}
                            <div class="checker"style="background-color: {{ color2 }};"></div>
                        <!-- if column is odd -->
                        {% else %}
                            <div class="checker"style="background-color: {{ color1 }};"></div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</body>
</html>